*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
#formy{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid black;
width: auto;
height: auto;    
}
#btn{
    border-radius: 5px;
    background-color: blanchedalmond;
    color: black;

}
.error-input{
    border: 2px solid red;
}
.error-msg{
    border: 1px solid red;
    color: darkred;
}